/* =============== GOOGLE FONTS ===============*/ 
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 70%);
  --text-color-light: hsl(0, 0%, 60%);
  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}



/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}

button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}



.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogo{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold) ;
}



.navClose,
.navToggle{
    display: flex;
    font-size: 1.2rem;
    color: var(--title-color);
    cursor: pointer;
}



/* Navigation for mobile devices */
@media screen and (max-width: 1023px){
    .navMenu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsl(0, 0%, 0%, .3);
        backdrop-filter: blur(24px);
        width: 100%;
        padding-block: 4rem;
        transition: top .4s;
    }
}


.navList{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.navLink{
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.navClose{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.showMenu{
    top: 0;
}


/* Add blur to header */
.blur-header::after{
    content: '';
    position: absolute;
   
    width: 1000%;
    height: 100%;
    background-color: rgba(85, 85, 66, 0.445);
    backdrop-filter: blur(24px);
    top: 0;
    left: 0;
    z-index: -1;
}

/* Active link */


/*=============== HOME ===============*/

.home{
    position: relative;
}


.homeBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
    object-fit: cover;
    object-position: center;
    /* border: 1px solid yellow; */
}



.homeShadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: linear-gradient(180deg,
                hsla(0, 0%, 0%, 0) 58%,
                hsl(0, 0%, 0%) 78%);
}


.homeContainer{
    position: relative;
    padding-top: 3rem;
    row-gap: 3rem;

}

.homeData{
    text-align: center;
}

.homeSubTitle {
    font-size: var(--h3-font-size);
    margin-bottom: .5rem;
}
.homeTitle {
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.homeDescription {
    margin-bottom: 2rem;
    color: var(--title-color);
    
}




.homeCards{
    /* border: 1px solid yellow; */
    grid-template-columns: 240px;
    justify-content: center;

}




.homeCard{
    position: relative;
    overflow: hidden;
}



.homeCardImg{
    transition: transform .4s;
}


.homeCardShadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                 hsla(0,0%,0%,0) 50%,
                                hsl(0, 0%, 0%) 125% )
}

.homeCardTitle{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: var(--h3-font-size);
    z-index: 1;
}


.homeCard:hover .homeCardImg{
    transform: scale(1.2);
}

/*=============== BUTTON ===============*/

.button{
    background-color: hsla(0, 0%, 100%, .2);
    padding: 1.25rem 1.5rem;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For s */
}


.button i{
    font-size: 1.2rem;
    font-weight: initial;
    transition: transform .4s;
}


.button:hover i{
    transform: translateX(.25rem);
} 

/*=============== ABOUT ===============*/

.aboutContainer {
    row-gap: 3rem;
}

.aboutData {
    text-align: center;
}

.aboutDesp {
    margin-bottom: 2rem;
}



.aboutImgCon {
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.aboutImg {
    width: 300px;
    transition: transform .4s;   
}
.aboutShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                 hsla(0,0%,0%,0) 50%,
                                hsl(0, 0%, 0%) 125% )   
}

.aboutImgCon:hover .aboutImg{
    transform: scale(1.2);
}





/*=============== POPULAR ===============*/
.popularContainer{
    padding-top: 1.5rem;
    /* border: 1px solid yellow; */
    grid-template-columns: 240px;
    justify-content: center;
    row-gap: 2.5rem;
}

.popular .sectionTitle{
    text-align: center;
}



.popularImgCon{
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.popularImg{
    transition: transform .4s;
}

.popularShawdow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                 hsla(0,0%,0%,0) 50%,
                                hsl(0, 0%, 0%) 125% )
                                 
   
}

.popularTitle{
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}


.popularLocation{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: var(--small-font-size);
    font-family: var(--second-font);
    font-weight: 500;
}


.popularLocation i{
    font-size: 1rem;
}

.popularImgCon:hover .popularImg{
    transform: scale(1.2);
}



/*=============== EXPLORE ===============*/

.explore{
    position: relative;
}



.explore__image{
    position: absolute;
    overflow: hidden;
}



.exploreImg{
    width: 100%;
    height: 333px;
    object-fit: cover;
    object-position: center;
}



.exploreShadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                hsl(0,0%,0%)5%,
                                 hsla(0,0%,0%,0) 40%,
                                 hsla(0,0%,0%,0) 60%,
                                hsl(0, 0%, 0%) 92% )
}



.exploreContent{
    position: relative;
    padding-top: 16rem;
    text-align: center;
    row-gap: 2.5rem;
}

.exploreUser{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.explorePrefile{
    width: 30px;
    border-radius: 50%;
}

.exploreName{
    font-size: var(--small-font-size);
    color: var(--title-color);
}



/*=============== JOIN ===============*/


.joinContainer{
    row-gap: 3rem;
    padding-bottom: 2.5rem;
}



.joinData{
    text-align: center;
}

.joinDesp{
    margin-bottom: 2rem;
}

.joinForm{
    display: grid;
    row-gap: 1rem;
}


.joinInput{
    padding: 1.25rem 1rem;
    background-color: var(--container-color);
}

.joinButton{
    cursor: pointer;
}


.joinImgCon{
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.joinImg{
    /* width: 800px; */
    width: 100%;
    transition: transform .4s;
}

.joinShadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                                 hsla(0,0%,0%,0) 50%,
                                hsl(0, 0%, 0%) 125% )
}

.joinImgCon:hover .joinImg{
    transform: scale(1.2);
}










/*=============== FOOTER ===============*/

.footer{
    padding-block: 2.5rem;
    background-color: var(--container-color);
}


.footerContent{
    row-gap: 3.5rem;
}


.footerLogo{
    display: inline-block;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold) ;
    margin-bottom: 1rem;
}


.footerData{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem 3.5rem;
}


.footerTitle{
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
}


.footerLinks{
    display: grid;
    row-gap: .75rem;
}

.footerLink{
    color: var(--text-color);
    transition: color .4s;
}

.footerLink:hover{
    color: var(--title-color);
}


.footerGroup,
.footerSocial{
    display: flex;
}



.footerGroup{
    margin-top: 5rem;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.footerSocial{
    column-gap: 1.5rem;
}

.footerSocialLink{
    color: var(--text-color);
    font-size: 1.25rem;
    transition: color .4s, transform .4s
}

.footerSocialLink:hover{
    color: var(--title-color);
    transform: translateY(-.25rem);
}

.footerCopy{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    text-align: center;
}



/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar{
    width: 0.6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 30%);
}

/*=============== SCROLL UP ===============*/



.scrollUp{
    position: fixed;
    right: 1.5rem;
    /* bottom: 3rem; */

    /* show with js */
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    backdrop-filter: blur(24px);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s;
}

.scrollUp:hover{
    transform: translateY(-.25rem);
}

/* Show Scroll Up */
.showScrollUp{
    bottom: 3rem;
}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px){
    .container{
        margin-inline: 1rem;
    }

    .footerData{
        grid-template-columns: max-content;
    }
}


/* For medium devices */

@media screen and (min-width: 576px){
    .homeContainer,
    .aboutContainer,
    .exploreContent,
    .joinContainer{
        grid-template-columns: 380px;
        justify-content: center;
    }


    .footerData{
        grid-template-columns: repeat(3, max-content);
    }
}


@media screen and (min-width: 768px){
    .homeCards{
        grid-template-columns: repeat(2, 240px);
    }

    .aboutContainer,
    .joinContainer{
        grid-template-columns: repeat(2, 340px);
        align-items: center;
    }

    .aboutData,
    .aboutData .sectionTitle,
    .joinData,
    .joinData .sectionTitle{
        text-align: initial;
    }

    .popularContainer{
        grid-template-columns: repeat(2, 240px);
    }

    .exploreImg{
        width: 100vw;
    }

    .joinImgCon{
        order: -1;
    }


    .footerContent{
        /* border: 1px solid yellow; */
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footerGroup{
        /* border: 1px solid yellow; */
        flex-direction: row;
        justify-content: space-between;

    }

    .footerCopy{
        order: -1;
    }
}

/* For large devices */

@media screen and (min-width: 1023px){
    .navClose,
    .navToggle{
        display: none;
    }

    .navList{
        flex-direction: row;
        column-gap: 4rem;
    }

    .popularContainer{
        grid-template-columns: repeat(3, 240px);
    }

    .footerData{
        grid-template-columns: repeat(4, max-content);
        column-gap: 4.5rem;
    }
}



@media screen and (min-width:1152px){
    .container{
        margin-inline: auto;
    }

    .section{
        padding-block: 7rem 2rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .homeContainer{
        /* border: 1px solid yellow; */
        grid-template-columns: initial;
        justify-content: initial;
        row-gap: 4rem;
        padding-top: 6.5rem;
    }

    .homeShadow{
        height: 980px;
    }

    .homeData{
        text-align: inherit;
        width: 480px;
    }

    .homeSubTitle{
        font-size: var(--h2-font-size);
    }

    .homeDescription{
        margin-bottom: 2.5rem;
    }

    .homeCards{
        /* border: 1px solid yellow; */
        grid-template-columns: repeat(4, 260px);
    }


    .homeCardTitle{
        left: 1.5rem;
        bottom: 1.5rem;
    }

    .button{
        column-gap: 1.5rem;
    }


    .aboutContainer{
        grid-template-columns: 400px 460px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }


    .aboutDesp{
        margin-bottom: 3rem;
    }

    .aboutImg{
        width: 460px;
    }

    .popularContainer{
        grid-template-columns: repeat(3, 300px);
        column-gap: 3rem;
        padding-top: 4rem;

    }

    .popularTitle{
        font-size: var(--h2-font-size);
    }

    .popularLocation{
        font-size: var(--normal-font-size);
    }

    .exploreImg{
        height: 600px;
        /* width: 100%; */
    }

    .exploreContent{
        padding-top: 28rem;
        grid-template-columns: 670px 1fr;

    }

    .exploreData,
    .exploreData .sectionTitle{
        text-align: initial;
    }

    .exploreUser{
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 1.25rem;
    }

    .joinContainer{
        grid-template-columns: 460px 340px;
        column-gap: 8rem;
        padding-block: 1rem 5rem;
    }

    .joinImg{
        width: 460px;
    }
    .joinDesp{
        margin-bottom: 3rem;
    }

    .footer{
        padding-block: 5rem 3rem;
    }

    .footerTitle{
        margin-bottom: 1.5rem;
    }
    

    .footerSocial{
        column-gap: 2rem;
    }

    .footerSocialLink{
        font-style: 1.5rem;
    }
}


